$bodybgcolor:#293250;
$headerbgcolor:#ffd55a;
$headertextcolor:#293250;
$propertypanelbgcolor:#6dd47e;
$previewpanelbgcolor:#fff;
$taglinetextcolor:#fff;
$snheaderbgcolor:#3c4d4f;
$snheadertopbordercolor:#0f1314;
$snheaderbottombordercolor:#5d7c74;
$taglinebgcolor:#3a5753;